/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #0ef0f0;  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: red;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}
img.zweefrechts {
    float: right;
    margin-left: 15px;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #0000ff;
}

nav li a.active {
    background-color: rgb(255, 00, 00);
}

#personen{
    width:500px; 
     
    /* position: fixed;  */
  
     
 margin-left: 0px; 
 margin-right:200px;


background-color:#bebcbc; 
padding:20px;
}

.clear { 
    clear: both; 
}
.div1 {
    width: 700px;
    height:250px;
    border: green ;
    background-color: blue ;
}
.div2 {
    width: 700px;
    height:350px;

    border: red ;
    background-color: #0dc97b ;
}
.div3 {
    width: 700px;
    height:250px;

    border: red ;
    background-color: #0fff7b;
}
.div4 {
    width: 700px;
    height:700px;

    border: red ;
    background-color: #a0bfff ;
}